@model eAdmin.Models.slide_image

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>slide_image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_sort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_sort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slider_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slider_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
