@model eAdmin.Models.dashboard

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>dashboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.about)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.about)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.return_policy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.return_policy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.how)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.how)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.faq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.background)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.background)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Back to List", "Index")
</p>
